
body {
    margin:0;
    font-family: sans-serif;
    background-color: #eeeeee;
}
.contentWrapper{
    background-color: white;
}
@media screen
and (max-width : 1024px)
and (min-width:768px){
  .bodyContainer{
    width:92%;
    display:flex;
    justify-content: center;
    margin:auto;
  }
  .DetailContainer{
    width:92%;
    margin:auto;
  }
  .carouselStyle{
    flex:0 0 55%;
    padding-right:10px;
    padding-top: 10px;
  }
  .productInfoStyle{
    flex:0 0 45%;
  }
}
@media screen
and (max-width : 1549px)
and (min-width:1025px){
  .bodyContainer{
    width:90%;
    display:flex;
    justify-content: center;
    margin:auto;
  }
  .DetailContainer{
    width:90%;
    margin:auto;
  }
  .carouselStyle{
    flex:0 0 50%;
    padding-right:20px;
    padding-top: 10px;
  }
  .productInfoStyle{
    flex:0 0 50%;
  }
}
@media screen
and (min-width : 1550px){
  .headerContainer{
    align-items:center;
    justify-content: center;
    display:flex;
    width:80%;
    margin-left: auto;
    margin-right:auto
  }
  .carouselStyle{
    flex:0 0 55%;
    padding-right:30px;
    padding-top: 10px;
  }
  .productInfoStyle{
    flex:0 0 45%;
  }
  .searchbox{
    width: 300px;
  }
  .BigSearchBox{
    flex: 0 0 40%;
  }
  .bodyContainer{
    width:60%;
    display:flex;
    justify-content: center;
    margin:auto;
  }
  .DetailContainer{
    width:60%;
    margin:auto;
  }
}
@media screen
and (max-width : 1549px){
  .headerContainer{
    align-items:center;
    justify-content: center;
    display:flex;
    width:100%;
  }
  .searchbox{
      width: 200px;
  }
  .BigSearchBox{
    flex: 0 0 50%;
  }
  
}
@media screen
and (max-width:900px){
  .BigSearchBox{
    flex: 0 0 67%;
  }
}
@media screen
and (max-width : 813px){
  .showMineLogo{
    display:none;
  }
}
@media screen
and (max-width : 767px){
    .PicDetail{
      float:left;
      width:100px;
      margin:10px 10px;
    }
    .header{
      display:none;
    }
    .PicWidth{
      width:80px;
      height:80px
    }
    .PicDetailSub{
      margin:15px 0px
    }
    .footerStyle{
      background-color: #fafafa;
      font-size: 20px;
      color: grey;
      border-top: 1px solid lightgrey;
      box-shadow:0 0 5px 3px #f3f3f3;
      text-align: center;
      position: fixed;
      left: 0;
      bottom: 0;
      height: 50px;
      width: 100%;
    }
    .groupBuyDetail{
      transform: translateY(-90%);
    }
    .groupbuyMargin{
      margin:0px 5px
     }
     /* .bigbox{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
  grid-gap: 5px;
  grid-column: span 1; */
  /* position:relative;
      width: 100%;
      height:0;
      padding-top:100%; */
/* } */
}
@media screen
and (min-width:768px){
  .sectionDivider{
    display:none;
  }
  .groupbuyMargin{
   margin:20px 5px
  }
  .footer{
    display:none;
  }
  .PicDetail{
    float:none;
    width:150px;
  }
  .PicWidth{
    height:140px;
    width:220px
  }
  .CardDetail{
    width:220px;
    background-color: #efefef;
    padding-bottom: 10px;
  }
  .PicDetailSub{
    margin:0px 30px
  }
  .Participate{
    margin:20px 0px 0px 0px !important
  }
  .UploadLaptop{
    width:95% !important;
    margin:auto;
    align-items: center;
    justify-content: center;
  }
  #reportLaptop{
    margin:20px auto;
  }
  .footerStyle{
    background-color: #fafafa;
    font-size: 20px;
    color: grey;
    text-align: center;
    height: 50px;
    width: 100%;
  }
  .bigbox{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
    grid-column: span 1
  }
}
.active {
  background: #ffbc21 !important;
  color: #ffffff;
}

.row-content {
    margin :0.7rem;
    border: 1px solid lightgrey;
    border-radius:8px;
}


.remove-image {
    float:right;
    border-radius:100%;
    position:absolute;
    opacity:0.7;
    border:none;
    background-color: Black;
    color: #ffffff;
    font-weight: 700;
    height:25px;
    width:25px;
    transform:translate(90px,-8px);
    cursor:pointer;
}

/* change input features */
.custom-file-input {
    color: transparent;
    width:100px;
    height:100px;  
    display:inline-block;
    background: white;
    border: 1px solid #ddd;
    border-radius: 7px;
    cursor: pointer;


  }
  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  /* .custom-file-input::before {
    width:60px;
    height:20px;
    color:black;
    content: '上传图片';
    position:absolute;
    background: white;
    transform:translate(25px,67px);
    font-size:14px;
    
  } */
  .custom-file-input1 {
    color: transparent;
    width:100px;
    height:100px;  
    display:inline-flex;
    background: white;
    border: 1px solid #ddd;
    border-radius: 7px;
    cursor: pointer;
    
  }
  .custom-file-input1::-webkit-file-upload-button {
    visibility: hidden;
  }
  /* .custom-file-input1::before {
    width:60px;
    height:20px;
    color:black;
    content: '上传视频';
    position:absolute;

    background: white;
    transform:translate(25px,67px);
    font-size:14px;
    
  } */

.popup-content{
    border-radius: 8px;
}
#ModalCss{
    border-radius: 10px;
    width:90%
  }
/* .bigbox{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 5px;
} */
.textFade{
    background: -webkit-linear-gradient(black, #ccc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.navbar{
  flex-flow:row nowrap;
  justify-content: flex-start;
  position: relative;
  display:flex;
  align-items:center;
  padding:.5rem 1rem;
  background-color: #E6BF00;
  height:90px;
}

.flag-img-size{
  height:40px;
  width:40px;
  border-radius: 50%;
}
.cherryPic{
  height:420px;
}

